<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Assignment Student</display-name>
  <context-param>
		<param-name>jdbcURL</param-name>
		<param-value>jdbc:mysql://localhost:3306/quanlysinhvien</param-value>
	</context-param>

	<context-param>
		<param-name>jdbcUsername</param-name>
		<param-value>quanlysinhvien</param-value>
	</context-param>

	<context-param>
		<param-name>jdbcPassword</param-name>
		<param-value>quanlysinhvien</param-value>
	</context-param>
	<servlet>
		<servlet-name>StudentControllerServlet</servlet-name>
		<servlet-class>student_controller.StudentControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentControllerServlet</servlet-name>
		<url-pattern>/student/*</url-pattern>
	</servlet-mapping>
  <filter>
    	<filter-name>filter</filter-name>
    	<filter-class>filter.MyFilter</filter-class>
	</filter>
	<filter-mapping>
    	<filter-name>filter</filter-name>
    	<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>HomeControllerServlet</servlet-name>
		<servlet-class>home.HomeControllerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HomeControllerServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>